body {
    background-color: #000;
}

.navbar {
    background-color: #3c3c3c;
    margin-bottom: 300px;
}

.navbar-nav a {
    color: #70726F;
    margin: 0 15px;
    padding: 15px 0;
}

.navbar-brand {
    color: #3c3c3c;
}