body {
    background-color: #394867;
    color: #9BA4B5;
    font-family: 'Lilita One', cursive;

}

.navbar {
    background-color: #212A3E;
    margin-bottom: 300px;
}

.navbar-nav a {
    color: #9BA4B5;
    margin: 0 15px;
    padding: 15px 0;
}

.navbar-brand {
    color: #3c3c3c;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* footer */

.footer {
    background-color: #212A3E;
    color: #9BA4B5;
    text-align: center;
    padding: 20px 0;
}

.footer a {
    color: #9BA4B5;
    font-size: 25px;
    padding: 10px;
    transition: all .5s ease;
}

.footer a:hover {
    color: #fff;
}

/* section1 */

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    min-height: 500px;
    margin-top: 56px;

}


.section1 h2 {
    font-size: 3em;
    margin-bottom: 15px;
    color: #212A3E;
    text-transform: uppercase;
}

.section1 p {
    font-size: 2em;
    margin-bottom: 30px;
    color: #394867;
    text-transform: uppercase;
}

.section1 .btn {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1em;
    color: #212A3E;
}



/* section 2 */

.section2 {

    background-color: #394867;
    padding: 30px 0;
}

.section2 h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-transform: uppercase;
}



.section2 h4 {
    color: #394867;
}

.section2 p {
    color: #212A3E;
}

.section2 .cards {
    background-color: #9BA4B5;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
}

.section2 i {
    color: #212A3E;
    margin-bottom: 5px;
}


/* section 3 */

.section3 {

    background-color: #212A3E;
    padding: 30px 0;
}

.section3 h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* section 4 (join our mailing list) */

.section4 {

    background-color: #394867;
    padding: 30px 0;
}

.section4 h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.section4 .form-group {
    text-align: left;
    margin-bottom: 20px;
}

.section4 label {
    color: #212A3E;
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

/* go to top */

.go-to-top {

    color: #9BA4B5;
    margin-top: 40px;
    margin-bottom: 5px;

}

/* menu section */

.menu-section {
    background-color: #F1F6F9;
    padding: 40px 0;
    text-align: center;
}


.section-heading {
    color: #212A3E;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 3em;
}

.menu-category {
    margin-bottom: 30px;
}

.menu-category h3 {
    color: #212A3E;
    border-bottom: 1px solid #212A3E;
    padding: 20px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.item-details {
    flex: 1;
    margin-right: 10px;

}


.dish {

    color: #212A3E;
    text-align: left;
}

.dish-description {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    color: #9BA4B5;
    text-align: left;
    justify-content: left;
    justify-items: left;
    margin: 10px 0;


}

.price {
    color: #212A3E;
}

.dish-image {
    max-width: 120px;
    height: 120px;
    margin-right: 10px;
}